/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

body{
    color: white;
    background-color: black;
}

.bg-light{
    background-color: black !important;
}

.anios{
    margin: 17px 0px 17px 0px;
}

div {
    text-align: center;
}

.informacion{
    background-color: black;
}

.button {
    background-color: black;
    border: solid black 2px;
    color: white;
    padding: 4px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 7px 15px;
    height: 80px;
    width: 80px;
  }
  
  .button1 {border-radius: 2px;}
  .button2 {border-radius: 4px;}
  .button3 {border-radius: 8px;}
  .button4 {border-radius: 12px;}
  .button5 {border-radius: 50%;}

  .pieImagen{
      font-size: 118%;
      margin: 14px 10px 32px 10px;
  }
  
  .titulo{
    text-transform: uppercase;
    font-size: 140%;
    text-align: left;
  }
  .articulo{
    /*background-color: darkgrey;
    border: solid black 2px;*/
  }

  iframe{
       width: 91%;
       height: 500px;
  }

 @media only screen and (max-width: 980px) {
  iframe{
       width: 91% !important;
       height: 350px !important;
  }
}

.rot{
    transform: rotate(90deg);
    margin-top: 60px;
    margin-bottom: 80px;
}

.map{
    margin-top: 30px;
    margin-bottom: 30px;
}

.tituloHome{
    text-align: left;
    top: 70%;
    position: fixed;
    text-transform: uppercase;
}

.navbar{
    background-color: black !important;
}

.dropdown-menu{
    color: rgba(255,255,255,.5);
    background-color: black;
}

a{
    color: rgba(255,255,255,.5);
}

.dropdown-item:focus, .dropdown-item:hover{
    color: white;
    background-color: slategray
}

.dropdown-menu > a{
    color: white !important;
}

.cita{
    text-align: left;
    top: 30%;
    position: fixed;
    font-size: 79%;
}

.bodyHome::after{
    background-image: url("/img/fondoA.png");
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}